server:
  port: 8080

spring:
  main:
    allow-bean-definition-overriding: true
  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    sql:
      init:
        mode: always

service:
  technologies:
    url: ${TECHNOLOGIES_MS_URL:http://technologies-ms:8081/api/v1/technologies}