server:
  port: 8080

spring:
  main:
    allow-bean-definition-overriding: true
  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    sql:
      init:
        mode: always

service:
  user:
    url: http://user-ms:8080/api/v1